<!DOCTYPE html>

    <html>
    <head>
        <meta charset="utf-8">
        <title>Appathon Clinical Trials</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/css/style.css" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    </head>


    <body>
    <div class="navbar navbar-default navbar-static-top" role="navigation">
        <div class="container">
          <div class="navbar-header">
          <a class="navbar-brand" href="/">Home</a>
          </div>
          <ul class="nav navbar-nav navbar-right">
		  <li><a href="/clinical_trial">Clinical Trial </a></li>
          </ul>
        </div>
    </div>

    <div class="container">


