<%- include('_header'); -%>

<div class="col-md-8">

    <div class="panel panel-default">

        <div class="panel-heading">
            <h3>Clinical Trial</h3>
        </div>
        <div class="panel-body">
            <form id="CTForm" class="form-signin" method="POST" action="/clinical_trial">
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1">@</span>
                    <input type="text" class="form-control" placeholder="Condition" name="condition" aria-describedby="basic-addon1">
                </div>
                <br />
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1">@</span>
                    <input type="text" class="form-control" placeholder="Country" name="country"
                        aria-describedby="basic-addon1">
                </div>
                <div>
                    <input type="submit" id="subButton" class="btn btn-default navbar-btn" value="Submit" />
                    <input type="reset" id="resButton" class="btn btn-default navbar-btn" value="Reset" />
                    <h4 id="result"></h4>
                </div>
            </form>
        </div>
    </div>



<div class="panel panel-default" id="second_panel" hidden="true">

        <div class="panel-heading">
            <h3>Result Table</h3>
        </div>
        <div class="panel-body">


<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">id</th>
      <th scope="col">Condition</th>
      <th scope="col">Country</th>
      <th scope="col">Status</th>
      <th scope="col">Enrollments</th>
    </tr>
  </thead>
  <tbody id="table_body">
  </tbody>
</table>
</div>
</div>




</div>
<script>

          const $form = $('#CTForm')
          const $header = $('#result')
          const $button = $('#subButton')
          const $resbutton = $('#resButton')

          $form.on('submit', submitHandler)
          $resbutton.click(function() {
              $header.text("");
              $('#second_panel').prop("hidden",true)
              $('#table_body').text("")
          });
         
          function submitHandler (e) {
            e.preventDefault()
            $header.text("");
            $('#second_panel').prop("hidden",true)
            $('#table_body').text("")
            $button.prop('value', 'Loading...');
            $button.prop("disabled",true);
            $resbutton.prop("disabled",true);
            //console.log('mpika');
            $.ajax({
                 url: '/clinical_trial',
                 type:'POST',
                 data: $form.serialize(),
                 dataType: 'json'
            }).done(function (ret_data) {
               //console.log(ret_data);
               if (ret_data.status == "400") {
                   $header.text("No Data Found");
                   $('#second_panel').prop("hidden",true)
                   $('#table_body').text("")
                   $button.prop('disabled',false);
                   $resbutton.prop("disabled",false);
                   $button.prop("value", "Submit");
                   return;
               }
               if (ret_data.status == "500") {
                   $header.text("Input Cannot Be Empty");
                   $('#second_panel').prop("hidden",true)
                   $('#table_body').text("")
                   $button.prop('disabled',false);
                   $resbutton.prop("disabled",false);
                   $button.prop("value", "Submit");
                   return;
               }
               $header.text("Total Enrollments "+ ret_data.result);
               var i;
               for (i = 0; i < ret_data.table.length; i++) {
                   $('#table_body').append('<tr><th scope=row>'+ ret_data.table[i].id + '</th><td>'+ ret_data.table[i].condition +'</td><td>'+ ret_data.table[i].country +'</td><td>'+ ret_data.table[i].status +'</td><td>'+ ret_data.table[i].enrollments +'</td></tr>');
               }
               $('#second_panel').prop("hidden",false)
               $button.prop('disabled',false);
               $resbutton.prop("disabled",false);
               $button.prop("value", "Submit");
               
            })
           }
        </script>

<%- include('_footer'); -%>

